<h1>Dashboard#main</h1>
<p>Find me in app/views/dashboard/main.html.erb</p>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @agents.each do |agent| %>
      <tr>
        <td><%= agent.name %></td>
        <td><%= agent.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
